.bot-layout {
    /* style */
    height: 450px;
    width: 300px;
    border: 0px solid black;
    border-radius: 2%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    /* position */
    position: absolute;

    right: 30px;
    z-index: 5;
    background-color: rgb(24, 22, 40);
    overflow: hidden;

    /* font */
    font-family: Roboto;

    /* animation */
    animation: modal-appear 0.3s ease-out forwards;
}

@keyframes modal-appear {
    from {
        opacity: 0.2;
        bottom: 0px;
    }
    to {
        opacity: 1;
        bottom: 30px;
    }
}

.bot-info {
    color: white;
    width: 100%;
    background-color: #8674fe;
    padding: 7px;
    height: 25px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    object-fit: contain;
    object-position: center;
}
.user-name {
    height: 50px;
}
.btn-close {
    color: white;
    position: absolute;
    right: 0px;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 3px;
}
.icn-close {
    margin-right: 23px;
    height: 20px;
    width: 20px;
}

.icn-profile {
    margin-left: 5px;
    height: 25px;
    width: 25px;
}
.chat-area {
    overflow-y: scroll;
    /* padding: 10px; */
    width: 95%;
    height: 75%;
    display: flex;
    flex-direction: column;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
}
.input-area {
    position: absolute;
    bottom: 2px;
    height: 36px;
    width: 100%;
    /* border-radius: 10%; */
    /* margin: 0px 5px 5px 5px; */
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chat-input {
    height: 32px;
    border: 2px solid #8674FE;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 78%;
    font-size: 1rem;
    padding: 2px;
    border: none;
}
.chat-input:active{
    border: 2px solid #8674FE;
}
.chat-input:disabled{
    border: 2px solid #8674FE;
}
.btn-send {
    background: #8674fe;
    border: none;
    box-shadow: none;
    color: white;
    height: 40px;
    width: 50px;
    border: 2px solid #8674FE;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btn-send:disabled{
    border: 2px solid #8674FE;
}
.icn-send {
    height: 20px;
    width: 20px;
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.options button {
    padding: 8px;
    margin: 5px;
    background-color: rgb(129, 128, 128);
    border: rgba(102, 99, 99, 0.411) 2px solid; 
    border-radius: 20px;
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
    cursor: pointer;
    text-align: center;
}
.options button:hover {
    background-color: #8674fe;
    color: white;
    border: 2px solid #8674fe;
}

.active {
    background-color: #8674fe !important;
    color: white !important;
    border: 2px solid #8674fe !important;
}
